node_modules
lerna-debug.log
npm-debug.log
lint.log

coverage
reports
.tscache
*.map
# Ignore heap dumps
packages/report.*.json

packages/*/**/*.js
!webpack.config.js
packages/*/**/*.d.ts

packages/*/dist

.idea
*.iml
*.tmp.txt
.nyc_output
package-lock.json
.DS_Store
tsconfig.*.tsbuildinfo
.vs
