node_modules
lerna-debug.log
npm-debug.log
lint.log

coverage
reports
.tscache
*.map
# Ignore heap dumps
packages/report.*.json

packages/*/src/*.js
packages/*/src/*.d.ts
packages/*/src/**/*.js
packages/*/src/**/*.d.ts

packages/*/test/*.js
packages/*/test/*.d.ts
packages/*/test/**/*.js
packages/*/test/**/*.d.ts
packages/*/dist

.idea
*.iml
*.tmp.txt
.nyc_output
package-lock.json
.DS_Store
tsconfig.*.tsbuildinfo